@import "vars";
@import "vendor/reset";

:root {
	font-size: 1.125em;
}

body {
	min-width: 320px;

	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;

	position: relative;
	overflow-x: hidden;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: $white;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $accent;
	}
}

/* Blocks */

@import "blocks/logo.scss";
@import "blocks/navigation.scss";
@import "blocks/header";
@import "blocks/social.scss";
@import "blocks/social_links.scss";
@import "blocks/date.scss";
@import "blocks/main_page/main.scss";
@import "blocks/main_page/electronics_section.scss";
@import "blocks/main_page/it-news_section.scss";
@import "blocks/main_page/reviews_section.scss";
@import "blocks/main_page/lifehacks_section.scss";
@import "blocks/footer.scss";

.img__responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.color--white {
	color: $white;
}

.hidden {
	display: none
}