.button {
  display: inline-block;
  border: none;
  color: $white;
  text-decoration: none;
  background-color: $accent;
  padding: 12px 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10em;
  text-align: center;
  position: relative;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
}

.button:hover,
.button:focus {
  text-decoration: none;
  color: $white;
}

.button:hover {
  background-color: lighten($accent, 10%);
  color: darken($white, 5%);
}

.button:active {
  background-color: darken($accent, 10%);
  color: darken($white, 10%);
}