{{#if header}}

<a href="#" class="electronics__link">
  <img src={{image}} alt="image: {{header}}" width={{width}} height={{height}}>
</a>

<div class="electronics__link--content">

  <h3 class="electronics__link--title">
    <a class="electronics__link--title__link" href="#">
      {{header}}
    </a>
  </h3>

  <div class="item__social">
    <div class="item__comments" title="Количество комментариев">
      <i class="fa fa-comments"></i>
      <a href="#disqus_thread" class="item__comments--count">{{comments_counter}}</a>
    </div>
    <div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
    <div class="likely likely__custom" data-url="path" data-media={{image}} data-title={{header}}>
      <a class="item__social--links" href="#" title="Поделиться Вконтакте">
        <i class="fa fa-vk" aria-hidden="true"></i>
        Вконтакте
      </a>
      <a class="item__social--links" href="#" class="fa fa-facebook" title="Поделиться в Facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
      </a>
      <a class="item__social--links" href="#" class="fa fa-twitter" title="Поделиться в Twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Twitter
      </a>
    </div>
  </div>
</div>

{{else}}
<p>Electronics news folder is empty</p>
{{/if}}