<div class="btn menu__mobile--button" title="Мобильное меню" id="menu">
  <i class="bars" aria-hidden="true"></i>
  Меню
</div>

<a href="/" class="logo logo-litera">GEEKT<span>O</span>P</a>

<nav class="menu__main" id="menu">
  <ul>
    <li class="active">
      <a href="#">Электроника</a>
    </li>
    <li>
      <a href="#">Новости IT</a>
    </li>
    <li>
      <a href="#">Обзоры</a>
    </li>
    <li>
      <a href="#">Лайфхаки</a>
    </li>
    <li>
      <a href="#">DIY</a>
    </li>
    <li>
      <a href="#">О сайте</a>
    </li>
  </ul>
</nav>
<div class="btn search__icon" title="Поик по сайту" id="search__field">
  <i class="search" aria-hidden="true"></i>
  Поиск
</div>

<form class="search__field hidden" action="/search.html" id="search__field">
  <!-- on value field must be master public key -->
  <input type="hidden" name="cx" value="partner-pub-xxx:xxx" />
  <input type="hidden" name="cof" value="FORID:10" />
  <input type="hidden" name="ie" value="UTF-8" />
  <input type="text" name="q" placeholder="Поиск по сайту..." />
</form>