.diy {
  grid-area: diy;
  display: grid;
  grid-template: .3fr 1fr 1fr / 2fr 1fr;
  grid-template-areas:
    "diy-title diy-title"
    "diy-main diy-top"
    "diy-main diy-bottom";
  align-items: start;

  row-gap: 30px;

  @media screen and (max-width: 1141px) {
    grid-template: .3fr 1.27fr 1fr 1fr / 1fr;
    grid-template-areas:
      "diy-title"
      "diy-main"
      "diy-top"
      "diy-bottom";
    row-gap: 10px;
    justify-items: center;
  }

  @media screen and (max-width: 649px) {
    grid-template: .3fr 1.5fr 1fr 1fr / 1fr;
    grid-template-areas:
      "diy-title"
      "diy-main"
      "diy-top"
      "diy-bottom";
    row-gap: 10px;
    justify-items: center;
  }

  &__title {
    grid-area: diy-title;

    text-align: left;

    @media screen and (max-width: 1141px) {
      text-align: center;
    }

    .hr__line {
      display: flex;
      justify-content: center;

      &::before {
        content: " ";
        display: block;
        margin-bottom: 1.67rem;
        min-height: 1px;
        min-width: 100vw;

        background-color: $white-1;
      }
    }
  }

  &__main {
    grid-area: diy-main;
    position: relative;

    &--content {
      text-align: left;
      color: $white;

      padding: 0 20% 2% 0;

      left: 0;
      bottom: 0;

      z-index: 1;

      @media screen and (max-width: 419px) {
        padding: 0 10% 2% 0;
      }
    }

    &--title {
      margin-top: 1rem;

      font: normal 800 1.28rem/1.61rem roboto-g;

      @media screen and (max-width: 1141px) {
        font: normal 800 1.4rem/2rem roboto-g;
      }

      @media screen and (max-width: 649px) {
        font: normal 800 1.28rem/1.61rem roboto-g;
      }

      @media screen and (max-width: 419px) {
        font: normal 800 1rem/1.25rem roboto-g;
      }
    }

    &--title__link {
      @extend %rows-limitation;
      -webkit-line-clamp: 2;

      text-decoration: none;
      color: $textcolor;

      cursor: pointer;
    }
  }

  &__top {
    grid-area: diy-top;
  }

  &__bottom {
    grid-area: diy-bottom;
  }

  &__top,
  &__bottom {
    margin-left: auto;
    position: relative;

    @media screen and (max-width: 1141px) {
      margin-right: auto;
    }
  }
}

.diy__main__section {
  width: 653px;
  height: 500px;

  position: relative;

  @media screen and (max-width: 1141px) {
    width: 90vw;
    height: auto;
  }
}

.diy__main__link {
  position: relative;

  @extend %dark-glass;
}

.diy__link {
  width: 459px;
  height: 236px;

  @media screen and (max-width: 1141px) {
    width: 90vw;
    height: auto;
  }

  &--title {
    margin: 0;

    font: normal 800 1rem/1.25rem roboto-g;
    text-transform: uppercase;

    @media screen and (max-width: 1141px) {
      font: normal 800 1.2rem/1.6rem roboto-g;
    }

    @media screen and (max-width: 419px) {
      font: normal 800 .8rem/1.15rem roboto-g;
    }
  }

  &--title__link {
    @extend %rows-limitation;
    -webkit-line-clamp: 3;

    color: $white;
    text-decoration: none;

    cursor: pointer;

    @media screen and (max-width: 419px) {
      -webkit-line-clamp: 2;
    }
  }

  &--content {
    @extend %link-content;

    @media screen and (max-width: 419px) {
      padding: 20px;
    }
  }

  @extend %dark-glass;
}

.diy__social {
  display: flex;
  align-items: center;
  margin: 11px auto 0 0;

  color: $light-blue;

  .fa {
    margin-right: 5px;

    font-size: 12px;
  }

  .date {
    margin-top: 5px;

    color: $light-blue;
  }
}

.diy__comments {
  display: inline-block;
  margin-right: 20px;

  &--count {
    display: inline-block;

    font-size: 12px;
    color: $light-blue;

    position: relative;

    &::before {
      margin-left: 20px;
      content: '';

      font-family: fontawesome;
      font-size: 5px;

      position: absolute;
      top: 35%;
    }
  }
}