.electronics {
  grid-area: electronics;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "electronics-top-left electronics-top-left electronics-top-left electronics-top-right electronics-top-right electronics-top-right"
    "electronics-bottom-left electronics-bottom-left electronics-bottom-center electronics-bottom-center electronics-bottom-right electronics-bottom-right";

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "electronics-top-left"
      "electronics-top-right"
      "electronics-bottom-left"
      "electronics-bottom-center"
      "electronics-bottom-right";
    width: 80vw;
    grid-gap: 10px 0;
  }

  &__top--left {
    grid-area: electronics-top-left;
    position: relative;
  }

  &__top--right {
    grid-area: electronics-top-right;
    position: relative;
  }

  &__bottom--left {
    grid-area: electronics-bottom-left;
    position: relative;
  }

  &__bottom--center {
    grid-area: electronics-bottom-center;
    position: relative;
  }

  &__bottom--right {
    grid-area: electronics-bottom-right;
    position: relative;
  }
}


.electronics__link {

  &--title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.25;
    font-size: 1rem;
  }

  &--title__link {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    color: $white;
    text-decoration: none;
    text-overflow: ellipsis;

    overflow: hidden;

    cursor: pointer;
  }

  &--content {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    color: $white;
    padding: 40px;
    z-index: 1;

    @media screen and (max-width: 991px) {
      padding: 40px 30px;
    }
  }

  &::before {
    content: '';
    background-color: $dark;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .45;
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  &::after {
    content: '';
    background-color: $dark;
    border: 1px solid $white;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease
  }

  &:hover::before,
  &:focus::before {
    opacity: .75;
  }

  &:hover::after,
  &:focus::after {
    opacity: .2;
  }
}