.electronics {
  grid-area: electronics;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "electronics-top-left electronics-top-left electronics-top-left electronics-top-right electronics-top-right electronics-top-right"
    "electronics-bottom-left electronics-bottom-left electronics-bottom-center electronics-bottom-center electronics-bottom-right electronics-bottom-right";

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "electronics-top-left"
      "electronics-top-right"
      "electronics-bottom-left"
      "electronics-bottom-center"
      "electronics-bottom-right";
    width: 80vw;
    grid-gap: 10px 0;
  }

  &__top--left {
    grid-area: electronics-top-left;
    position: relative;
  }

  &__top--right {
    grid-area: electronics-top-right;
    position: relative;
  }

  &__bottom--left {
    grid-area: electronics-bottom-left;
    position: relative;
  }

  &__bottom--center {
    grid-area: electronics-bottom-center;
    position: relative;
  }

  &__bottom--right {
    grid-area: electronics-bottom-right;
    position: relative;
  }
}


.electronics__link {

  &--title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.25;
    font-size: 1rem;
  }

  &--title__link {
    @extend %rows-limitation;

    color: $white;
    text-decoration: none;

    cursor: pointer;
  }

  &--content {
    @extend %link-content;

    @media screen and (max-width: 991px) {
      padding: 40px 30px;
    }
  }

  @extend %dark-glass;
}