.lifehacks {
  grid-area: lifehacks;
  display: grid;
  grid-template: .4fr 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    "lifehacks-title lifehacks-title ad-unit-3"
    "lifehacks-top-left lifehacks-top-right ad-unit-3"
    "lifehacks-bottom-left lifehacks-bottom-right ad-unit-3";

  @media screen and (max-width: 1141px) {
    grid-template: .25fr 1fr 1fr 2fr / 1fr 1fr;
    grid-template-areas:
      "lifehacks-title lifehacks-title"
      "lifehacks-top-left lifehacks-top-right"
      "lifehacks-bottom-left lifehacks-bottom-right"
      "ad-unit-3 ad-unit-3";
    justify-items: center;
  }

  @media screen and (max-width: 991px) {
    grid-template: .25fr 1fr 1fr 2fr / 1fr 1fr;
    grid-template-areas:
      "lifehacks-title lifehacks-title"
      "lifehacks-top-left lifehacks-top-right"
      "lifehacks-bottom-left lifehacks-bottom-right"
      "ad-unit-3 ad-unit-3";
  }

  @media screen and (max-width: 767px) {
    grid-template: .2fr 1fr 1fr 1fr 1fr 1.2fr / 1fr;
    grid-template-areas:
      "lifehacks-title"
      "lifehacks-top-left"
      "lifehacks-top-right"
      "lifehacks-bottom-left"
      "lifehacks-bottom-right"
      "ad-unit-3";
  }

  &__title {
    grid-area: lifehacks-title;
    margin: 2.2rem auto 0 0;

    text-align: left;
  }

  &__top--left {
    grid-area: lifehacks-top-left;
    position: relative;

    @media screen and (max-width: 991px) {
      width: 386px;
      height: auto;
    }

    @media screen and (max-width: 767px) {
      width: 90vw;
      height: auto;
    }
  }

  &__top--right {
    grid-area: lifehacks-top-right;
    position: relative;

    @media screen and (max-width: 991px) {
      width: 386px;
      height: auto;
    }

    @media screen and (max-width: 767px) {
      width: 90vw;
      height: auto;
    }
  }

  &__bottom--left {
    grid-area: lifehacks-bottom-left;
    position: relative;

    @media screen and (max-width: 991px) {
      width: 386px;
      height: auto;
    }

    @media screen and (max-width: 767px) {
      width: 90vw;
      height: auto;
    }
  }

  &__bottom--right {
    grid-area: lifehacks-bottom-right;
    position: relative;

    @media screen and (max-width: 991px) {
      width: 386px;
      height: auto;
    }

    @media screen and (max-width: 767px) {
      width: 90vw;
      height: auto;
    }
  }
}

.lifehacks__link {

  &--title {
    margin: 0;

    font: normal 800 1rem/1.25rem roboto-g;
    text-transform: uppercase;

    @media screen and (max-width: 649px) {
      font: normal 800 .8rem/1.11rem roboto-g;
    }
  }

  &--title__link {
    @extend %rows-limitation;
    -webkit-line-clamp: 2;

    color: $white;
    text-decoration: none;

    cursor: pointer;
  }

  &--content {
    @extend %link-content;

    @media screen and (max-width: 419px) {
      padding: 20px;
    }
  }

  @extend %dark-glass;
}

.lifehacks__social {
  display: flex;
  align-items: center;
  margin: 11px auto 0 0;

  .fa {
    margin-right: 5px;
    font-size: 12px;
  }

  .date {
    margin-top: 5px;
    color: $white;
  }
}

.lifehacks__comments {
  display: inline-block;
  margin-right: 20px;

  &--count {
    display: inline-block;

    font-size: 12px;

    position: relative;

    &::before {
      margin-left: -35px;

      content: '';
      font-family: fontawesome;
      font-size: 5px;

      position: absolute;
      top: 35%;
    }
  }
}