.more {
  grid-area: more;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  margin: 0;

  background-color: $white-1;

  text-align: center;

  @media screen and (max-width: 649px) {
    height: 100px;
  }
}